In [29]:
import pandas as pd
import requests
from sqlalchemy import create_engine

In [30]:
resoources="Resources/Public_Schools.csv"
data=pd.read_csv(resoources)
data.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,FID,NCESID,NAME,ADDRESS,ADDRESS2,CITY,STATE,ZIP,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,START_GRAD,END_GRADE,DISTRICT_I,FULL_TIME_,SHELTER_ID
0,-88.028074,32.791868,1,10168000578,PARAMOUNT JR HIGH SCH,HWY 20,NOT AVAILABLE,BOLIGEE,AL,35443,...,Imagery/Other,2010-06-25T00:00:00.000Z,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,Other,312,KG,09,101680,28,NOT AVAILABLE
1,-87.918717,32.846392,2,10168000864,PETER J KIRKSEY CAREER CTR,836 COUNTY RD 131,NOT AVAILABLE,EUTAW,AL,35462,...,Imagery/Other,2010-06-25T00:00:00.000Z,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,High,0,08,12,101680,0,NOT AVAILABLE
2,-87.893147,32.838000,3,10168001452,EUTAW PRIMARY SCH,212 EUTAW AVE SOUTH,NOT AVAILABLE,EUTAW,AL,35462,...,Imagery/Other,2010-06-25T00:00:00.000Z,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,Primary,272,KG,03,101680,20,NOT AVAILABLE
3,-87.877214,32.833911,4,10168001520,CARVER MIDDLE SCH,527 GREENSBORO AVE,NOT AVAILABLE,EUTAW,AL,35462,...,Imagery/Other,2010-06-25T00:00:00.000Z,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,Middle,346,04,09,101680,24,NOT AVAILABLE
4,-87.620561,32.998976,5,10171000588,HALE CO HIGH SCH,50 WILDCAT WAY,NOT AVAILABLE,MOUNDVILLE,AL,35474,...,Imagery/Other,2010-06-22T00:00:00.000Z,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,High,489,07,12,101710,25,10774856

In [43]:
data=data[["NCESID","NAME","ADDRESS","CITY","STATE","POPULATION","LATITUDE","LONGITUDE","NAICS_DESC","ENROLLMENT"]].copy()
data

,NCESID,NAME,ADDRESS,CITY,STATE,POPULATION,LATITUDE,LONGITUDE,NAICS_DESC,ENROLLMENT
0,10168000578,PARAMOUNT JR HIGH SCH,HWY 20,BOLIGEE,AL,340,32.791868,-88.028074,Elementary and Secondary Schools,312
1,10168000864,PETER J KIRKSEY CAREER CTR,836 COUNTY RD 131,EUTAW,AL,0,32.846392,-87.918717,Elementary and Secondary Schools,0
2,10168001452,EUTAW PRIMARY SCH,212 EUTAW AVE SOUTH,EUTAW,AL,292,32.838000,-87.893147,Elementary and Secondary Schools,272
3,10168001520,CARVER MIDDLE SCH,527 GREENSBORO AVE,EUTAW,AL,370,32.833911,-87.877214,Elementary and Secondary Schools,346
4,10171000588,HALE CO HIGH SCH,50 WILDCAT WAY,MOUNDVILLE,AL,514,32.998976,-87.620561,Elementary and Secondary Schools,489
...,...,...,...,...,...,...,...,...,...,...
103476,390146605660,IMAGINE WOODBURY ACADEMY,100 EAST WOODBURY DR,DAYTON,OH,92,39.827366,-84.243449,Elementary and Secondary Schools,86
103477,10279002155,PIKE CO ALT LEARNING CTR,101 WEST LOVE ST,TROY,AL,0,31.806538,-85.972382,Elementary and Secondary Schools,0
103478,551599002884,WAUWATOSA MONTESSORI SCHOOL,12121 WEST NORTH AVE,WAUWATOSA,WI,68,43.059532,-88.063774,Elementary and Secondary Schools,65
103479,10282002171,WEDOWEE ELEM SCH,940 WOODLAND AVE WEST,WEDOWEE,AL,19,33.313354,-85.496394,Elementary and Secondary Schools,0
103480,10288002192,MT OLIVE PRIMARY SCH,454 HWY 165,FORT MITCHELL,AL,14,32.359190,-85.032184,Elementary and Secondary Schools,0

In [50]:
#Check any NA values
data.dropna(how='any')

,NCESID,NAME,ADDRESS,CITY,STATE,POPULATION,LATITUDE,LONGITUDE,NAICS_DESC,ENROLLMENT
0,10168000578,PARAMOUNT JR HIGH SCH,HWY 20,BOLIGEE,AL,340,32.791868,-88.028074,Elementary and Secondary Schools,312
1,10168000864,PETER J KIRKSEY CAREER CTR,836 COUNTY RD 131,EUTAW,AL,0,32.846392,-87.918717,Elementary and Secondary Schools,0
2,10168001452,EUTAW PRIMARY SCH,212 EUTAW AVE SOUTH,EUTAW,AL,292,32.838000,-87.893147,Elementary and Secondary Schools,272
3,10168001520,CARVER MIDDLE SCH,527 GREENSBORO AVE,EUTAW,AL,370,32.833911,-87.877214,Elementary and Secondary Schools,346
4,10171000588,HALE CO HIGH SCH,50 WILDCAT WAY,MOUNDVILLE,AL,514,32.998976,-87.620561,Elementary and Secondary Schools,489
...,...,...,...,...,...,...,...,...,...,...
103476,390146605660,IMAGINE WOODBURY ACADEMY,100 EAST WOODBURY DR,DAYTON,OH,92,39.827366,-84.243449,Elementary and Secondary Schools,86
103477,10279002155,PIKE CO ALT LEARNING CTR,101 WEST LOVE ST,TROY,AL,0,31.806538,-85.972382,Elementary and Secondary Schools,0
103478,551599002884,WAUWATOSA MONTESSORI SCHOOL,12121 WEST NORTH AVE,WAUWATOSA,WI,68,43.059532,-88.063774,Elementary and Secondary Schools,65
103479,10282002171,WEDOWEE ELEM SCH,940 WOODLAND AVE WEST,WEDOWEE,AL,19,33.313354,-85.496394,Elementary and Secondary Schools,0
103480,10288002192,MT OLIVE PRIMARY SCH,454 HWY 165,FORT MITCHELL,AL,14,32.359190,-85.032184,Elementary and Secondary Schools,0

In [44]:
data.loc[data['POPULATION']==0]

,NCESID,NAME,ADDRESS,CITY,STATE,POPULATION,LATITUDE,LONGITUDE,NAICS_DESC,ENROLLMENT
1,10168000864,PETER J KIRKSEY CAREER CTR,836 COUNTY RD 131,EUTAW,AL,0,32.846392,-87.918717,Elementary and Secondary Schools,0
7,10171000875,HALE CO TECH CTR,19875 ALABAMA HWY 69 NORTH,GREENSBORO,AL,0,32.722732,-87.592676,Elementary and Secondary Schools,0
17,10174000881,NEWVILLE LEARNING CTR,BOWDEN ST,NEWVILLE,AL,0,31.415978,-85.336653,Elementary and Secondary Schools,0
18,10174002120,ABBEVILLE ALT SCH,300A NORTH TRAWICK ST,ABBEVILLE,AL,0,31.567364,-85.252379,Elementary and Secondary Schools,0
19,10174002122,HEADLAND ALT SCH,200 SPARKS ST,HEADLAND,AL,0,31.347140,-85.336815,Elementary and Secondary Schools,0
...,...,...,...,...,...,...,...,...,...,...
103453,273243004545,LIFESPAN,520 WEST CTY RD EAST,SHOREVIEW,MN,0,45.050463,-93.122154,Elementary and Secondary Schools,0
103456,390145905700,NEW DIRECTIONS ACADEMY,6357 LAFAYETTE RD,MEDINA,OH,0,41.099970,-81.934517,Elementary and Secondary Schools,-2
103465,273178004548,SCHOOL OF ENGINEERING-ARTS AT OLSON,1751 KELLY DR,GOLDEN VALLEY,MN,0,44.998352,-93.373753,Elementary and Secondary Schools,-2
103472,390146405669,GAIN PRODUCTIVE SKILLS ACADEMY,335 SOUTH MAIN ST,AKRON,OH,0,41.076750,-81.521788,Elementary and Secondary Schools,-2
103477,10279002155,PIKE CO ALT LEARNING CTR,101 WEST LOVE ST,TROY,AL,0,31.806538,-85.972382,Elementary and Secondary Schools,0

In [92]:
#Delete the Population which is Zero
clear_data=data.loc[data["POPULATION"]>0]
# RENAME THE COLUMNS
rename_data=clear_data.rename(columns={"NCESID":"id","NAME":"name","ADDRESS":"address","CITY":"city","STATE":"state","POPULATION":"population","LATITUDE":"latitude","LONGITUDE":"longitude","NAICS_DESC":"school_type","ENROLLMENT":"enrollment"})

In [113]:
rename_data.set_index("id", inplace=True)

In [118]:
rename_data

,name,address,city,state,population,latitude,longitude,school_type,enrollment
id,,,,,,,,,
10168000578,PARAMOUNT JR HIGH SCH,HWY 20,BOLIGEE,AL,340,32.791868,-88.028074,Elementary and Secondary Schools,312
10168001452,EUTAW PRIMARY SCH,212 EUTAW AVE SOUTH,EUTAW,AL,292,32.838000,-87.893147,Elementary and Secondary Schools,272
10168001520,CARVER MIDDLE SCH,527 GREENSBORO AVE,EUTAW,AL,370,32.833911,-87.877214,Elementary and Secondary Schools,346
10171000588,HALE CO HIGH SCH,50 WILDCAT WAY,MOUNDVILLE,AL,514,32.998976,-87.620561,Elementary and Secondary Schools,489
10171000589,MOUNDVILLE ELEM SCH,537 ALABAMA AVE,MOUNDVILLE,AL,602,33.000134,-87.631042,Elementary and Secondary Schools,566
...,...,...,...,...,...,...,...,...,...
10270002179,LAKEWOOD PRIMARY SCH,18 EXPLORER RD,PHENIX CITY,AL,22,32.510492,-85.031497,Elementary and Secondary Schools,0
390146605660,IMAGINE WOODBURY ACADEMY,100 EAST WOODBURY DR,DAYTON,OH,92,39.827366,-84.243449,Elementary and Secondary Schools,86
551599002884,WAUWATOSA MONTESSORI SCHOOL,12121 WEST NORTH AVE,WAUWATOSA,WI,68,43.059532,-88.063774,Elementary and Secondary Schools,65
10282002171,WEDOWEE ELEM SCH,940 WOODLAND AVE WEST,WEDOWEE,AL,19,33.313354,-85.496394,Elementary and Secondary Schools,0
10288002192,MT OLIVE PRIMARY SCH,454 HWY 165,FORT MITCHELL,AL,14,32.359190,-85.032184,Elementary and Secondary Schools,0

# Create Database Connection

In [122]:
connection_string = "postgres:postgres@localhost:5432/public_school"
engine = create_engine(f'postgresql://{connection_string}')

In [123]:
engine.table_names()

['public_school']

In [124]:
rename_data.to_sql('public_school', con=engine, if_exists='append', index=True)

# API World Heritage

In [68]:
url='https://private-portal.opendatasoft.com/api/v2/catalog/datasets/ HTTP/1.1 Authorization: Apikey 7511e8cc6d6dbe65f9bc8dae19e08c08a2cab96ef45a86112d303eee'

# url=" /api/records/1.0/search/?dataset=world-heritage-unesco-list&q=&lang=en&refine.category=Cultural&refine.continent_en=Europe+and+North+America"

In [80]:
url='https://private-portal.opendatasoft.com/api/v2/catalog/datasets/??dataset=world-heritage-unesco-list&q=&facet=category&facet=country_en&facet=country_fr&facet=continent_en/?apikey=6ca28a97be4d2d702cc69b2612619725ccdc4a34d8f08963b64c8707 HTTP/1.1'

response=requests.get(url)

In [81]:
print(response)

<Response [403]>